*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070000;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #ff0000;
}

nav li:last-child a{
    background-color: #ff0000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    background-color: #f8a406;
    color: black;
}

nav a.active{
    color: #ff0000;
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}

/* banner image main button */

.hero{

    height: 90vh;
    background: url('bannerimage.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.hero button:hover{
    background-color: #f8a406;
    color: black;
    border: 1px solid white;
}

/* Video section */

.video-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;

}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
    
}

.video-text h2{
    font-size: 50px;
    margin-bottom: 15px;
}

.video-text p{
    font-size: 18px;
    color: #444444;
}

/* About Section */

.about{
    text-align: center;
    background: #f9f9f9;
    padding: 60px 20px;
    border-radius: 10px;

}

.about h2{
    margin-bottom: 20px;
    font-size:32px;
    color: rgba(255, 0, 0, 0.67);
}

.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
}

/* End of About section */
.card{
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    object-fit: cover;
}

.card button{
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;

}

.card button:hover{
    background: maroon ;
    border: 1px Solid black;

}

.menu-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;

}

.category-icons{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    background: #ffffff;
    justify-content: center;
}

.icon-box{
    min-width:100px ;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

}

.icon-box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border-radius: 2px solid #eeeeee;
    padding: 5px;
}

.icon-box p{
    margin-top: 8px;
    font-size: 14px;
}

.icon-box img:hover{
    margin-top: 8px;
    font-size: 14px;

}

.icon-box p:hover{
    color: red;

}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

table{
    width: 70%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    border-collapse: collapse;
  
}

thead{
    background: #f80202;
    color: white;
}

th, td{
    padding: 15px;
    text-align: center;
}

tbody tr{
    border-bottom: 1.5px solid #ddd;
}

.qty-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qty-box button{
    background: red;
    color: white;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    font: 16px;
    cursor: pointer;
    border: none;
}

.qty-box button:hover{
    background-color: darkred;
}

.qty-box span{
    font-size: 16px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;

}

.item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.remove{
    background: #f80202;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove:hover{
    background: darkred;
}

.grand-total td{
    font-weight: bold;
    font-size: 18px;

}

.grand-total button{
    margin-top:15px ;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px ;
    cursor: pointer;

}

.grand-total button:hover{
    background: darkred;
}

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f80202, #555555);
}

.auth-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.auth-box h2{
    margin-bottom: 20px;
    color: #000000;
}

#bibox{
    color: red;
}

.auth-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.auth-box input:focus{
    border-color: red;
}

.auth-box button{
    width: 100%;
    padding: 10px;
    background: red;
    text-decoration-color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

}

.auth-box button:hover{
    background-color: #f8a406;
}

.auth-box p{
    margin-top:15px ;
    font-size: 14px;
}

.auth-box a{
    color: red;
    text-decoration: none;
}

.deals-page{
    padding: 40px;
    background: #f8f8f8;
}

.deal-hero{
    background: linear-gradient(135deg, rgba(6, 1, 1, 0.375), rgb(250, 0, 0) );
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p{
    font-size: 18px;
}

.section-title{
    margin: 30px 8px 20px;
    font-size: 28px;
    color: #000000;

}

.combo-section{
    padding: 40px;
    background: #ffffff;

}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    overflow: hidden;
   
}

.combo-card{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    transition: 0.4s;
}

.combo-card img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.combo-card h4{
    margin: 10px 0px;
}

.combo-card h4 span{
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.combo-card button{
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.combo-card button:hover{
    background-color: #cc0000;
}

.combo-card:hover{
    transform: translateY(-8px);
}

.deals-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}

.deal-card{
    background: #dedbdb;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    transition: .9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover{
    transform: scale(1.02);
}

.red{
    border-top: 5px solid red;
}

.yellow{
    border-top: 5px solid yellow;
}

.green{
    border-top: 5px solid green;
}
